@charset "UTF-8";
* {
  box-sizing: border-box;
}


/* ----------------------------------------
   RESET
---------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Iniciación de la propiedad "display" para etiquetas de HTML5 para navegadores antiguos */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.4;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #D1D1D1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ol, ul {
  list-style: none;
}

a, :focus {
  outline: none;
  text-decoration: none;
  color: unset;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

/*  -----------------
VARIABLES           */
:root {
  --grey: #333;
}
/*fin variables -----   */

.container {
  max-width: 100%;
  padding-right: 0;
  padding-left: 0;
}

.container::before {
  content: "";
  background-image: url(../img/background-image.jpg);
  background-size: cover;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -100;
}

.btn {
  padding: 10px 20px;
  background-color: transparent;
  color: #fff;
  border: 0;
}

/*--------------
SIDERBAR
---------------*/

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 25px 28px 50px 21px;
  width: 200px;
  background: linear-gradient(to bottom, #151b25, #1c212b);
  overflow-y: auto;
}

.sidebar__top {
  width: 105%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-collapse{
  width: 30px;
  height: 35px;
  background-color: #151b25;
}
.menu-collapse img {
  max-width: 14px;
  height: 12px;
}

.fa-bars {
  width: 35px;
  font-size: 1rem;
  color: #768496;
}

/*--------------
HEADER
---------------*/
.header {
  width: 220px;
  min-height: 100vh;
  padding: 30px 0 0 37px;
  background-color: #151b25;
  position: absolute;
}

.header__sup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 165px;
}

.logo {
  width: 20px;
  margin-left: 15px;
}

.logo img {
  width: 25px;
  height: 30px;
}

.collapse {
  border: 0;
  width: 20px;
  transform: scaleX(-1);
  transform: rotate(180deg);
  background-color: transparent;
}

.navbar__menu {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 12px;
  margin-top: 43px;
}

.navbar__link {
  padding: 10px 0 3px 0;
  font-size: 0.875rem;
  color: #b4cff2;
  font-weight: 300;
}

.top-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin-left: 200px;
  padding: 10px 30px;
}

.login {
  height: 50px;
  display: flex;
  align-items: center;
}

.login__name {
  color: #fff;
  font-size: .875rem;
}

.login__image::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #1e90ff;
  position: absolute;
  border-radius: 10px;
  right: 34px;
}

.login__image img {
  height: 34px;
  padding-left: 10px;
}


.navbar__title {
  font-size: 0.875rem;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

.search {
  width: 160px;
  height: 23px;
  display: flex;
  justify-content: flex-start;
}
.search__control {
  width: 130px;
  background-color: transparent;
  border: 0;
  color: #fff;
  padding-left: 10px;
}
.search__control::placeholder {
  color: #fff;
  font-weight: 300;
  font-size: .8rem;

}
.fa-search {
  color: #fff;
}
/*--------------
Main
---------------*/

.btn__icon-star {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: left;
    border: 1px solid #fff;
    width: 160px;
    border-radius: 20px;
    padding: 0 10px;
    height: 32px;
    font-size: 0.875rem;
}

.fa-star {
  background: linear-gradient(#933aaf, #e63c56);
  -webkit-background-clip: text;
  color: transparent;  
  font-size: .6rem;
  padding-right: 10px;
}

.block-main {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 277px;
  margin-bottom: 50px;
}

.block-main__info {
  margin-top: 80px;
  display: grid;
  grid-template-rows: 34px 85px 34px 220px 220px;
  grid-template-columns: repeat( auto-fit, minmax(170px, 1fr));
  grid-gap: 15px;
  overflow-y: auto;
}

@media (max-width: 1024px){
  .block-main {
    margin-left: 240px;
  }
}
@media (max-width: 768px){
  .block-main {
    margin-left: 217px;
  }
  .block-main__info {
    margin-top: 40px;
    grid-template-columns: 170px; 
  }
  .block-main__links {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .block-main__item {
    grid-column-start: 1;
    grid-column-end: 1;
  }
  .block-main__heading {
    font-size: 71px !important;
    grid-column-end: 3 !important;
  }
}

.block-main__img {
  max-width: 400px;
  position: relative;
}

.block-main__heading {
  font-size: 90px;
  font-weight: 600;
  color: #fff;
  grid-column-start: 1;
  grid-column-end: -1;
  text-align: left;
  line-height: .7;
}
.block-main__links {
  grid-column-start: 1;
  grid-column-end: -1;
  text-align: left;
  color: #fff;
  font-size: .875rem;
}
.block-main__links a:focus,
.block-main__links a:hover {
  border-bottom: 1px solid #3191fb;
  padding-bottom: 10px;

}
.block-main__links a + a {
  margin-left: 37px;
}
.block-main__item {
  font-size: .875rem;
  font-weight: 400;
  color: #fff
}
small {
  font-weight: 100;
}
.bottom {
  bottom: 0;
  width: 100%;
  background-color: rgba(3, 7, 15, 0.92);
  position: fixed;
  bottom: 0;
}

.navbar-bottom {
  position: fixed;
  min-width: 100%;
  bottom: 0;
  backdrop-filter: blur(4.4px);
  background-color: rgba(3, 7, 15, 0.92);
}

/*  -----------  
BLOCK MAIN-LIST
-------------- */

li + li {
  padding-top: 23px;
}

.main-list__group > small {
  font-weight: 100;
}

.main-list {
  position: relative;
  margin-right: 82px;
  width: 375px;
  max-height: 630px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  vertical-align: top;
  color: #fff;
  font-size: .875rem;
} 

.main-list__title-selection {
  padding-bottom: 30px;
}

.main-list__group::before {
  content: "";
  width: 421px;
  position: absolute;
  height: 38px;
}

@media (max-width: 1024px){
  .main-list__group::before {
    content: "";
    max-width: 300px;
  }
  .blur {
    left: -25px;
    min-width: 129%;
  }
}

@media (max-width: 768px){
  .main-list{
    margin-right: 35px;
    width: 275px;
  }
  .main-list__group::before {
    content: "";
    max-width: 200px;
  }
  .blur {
    left: -25px;
    width: 129%;
  }
}

.main-list__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: .875rem;
}

.blur {
  backdrop-filter: blur(10px);
  background-color :rgba(24, 30, 40, 0.6);
  border-radius: 10px;
  position: absolute;
  left: -30px;
  height: 58px;
  width: 120%;
  z-index: -1;
}

.plus {
  font-size: 1.8rem;
  color: #ffffff80;
  position: absolute;
  right: 16px;
  top: 10px;
  z-index: 99;
  cursor: pointer;
}

.hide {
  cursor: pointer;
  display: none;
  z-index: 99;
}

.show{
  display: inline;
}

.fa-plus {
  position: absolute;
  right: 18px;
  top: 25px;
  color: rgba(255, 255, 255, 0.5);
  font-size: .7rem;
  cursor: pointer;
}

.blur img {
  position: absolute;
  right: 90px;
  top: 20px;
  width: 15px;
  cursor: pointer;
}


/*  -----------  
PLAYER FOOTER
-------------- */

.navbar-bottom {
  padding: 5px 10px;
  font-size: .813rem;
  color: #fff;
}

.player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  max-width: 100%;
}

.player__choosen {
  width: 225px;
}

.player__choosen--img {
  float: left;
  margin-right: 15px;
}

.block-controls {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #737785;
}

.block-controls__elements {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.block-controls__icons {
  padding: 0 12px;
}

@media (max-width: 1024px){
  .block-controls__icons {
    padding: 0 4px;
  }
}

.pause {
  border: 1px solid #fff;
  border-radius: 32px;
  padding: 4px 7px;
}

.pause img{
  width: 15px;
  padding: 3px;
}

.fa-list {
  color: #737785;
  font-size: .8rem
}

.block-controls__duration {
  max-width: 500px;
}

.block-controls__long {
  min-width: 449px;
}

@media (max-width: 1024px){
  .block-controls__long {
    min-width: 249px;
  }
}
@media (max-width: 768px){
  .block-controls__long {
    min-width: 119px;
  }
}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;
   height: 2px;
   vertical-align: middle;
   padding: 0 5px
}

progress[value]::-webkit-progress-bar {
  background-color: rgb(69, 69, 69);
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-color: dodgerblue;
  border-radius: 5px;
}


  /*# sourceMappingURL=style.css.map */